<%
=begin
  file: index.html.erb
  
  purpose: display index page for a species.
           contents for each tab are defined in this page.
           helper functions in module helpers/phavu_contents_helper.rb
  
  documentation:
      http://docs.jquery.com/UI  -- tabs
=end
%>

<h1><%= format_species_name(@content.legume.name) %></h1>

<% permitted_to? :update, :phavu_contents do %>
  <p>
    <%= link_to raw("Edit Contents &raquo;"),
    edit_phavu_content_path(@content.id) %>
  </p>
<% end %>

<div id="tabs">

  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#resources">Resources</a></li>
    <li><a href="#reference_data">Reference Data</a></li>
    <li><a href="#publications">Publications</a></li>
    <li><a href="#maps">Maps</a></li>
    <li><a href="#markers">Markers</a></li>
    <li><a href="#qtl">Traits &amp; QTL</a></li>
  </ul>

<%
  # get tab index if any requested
  #    surely there is a more elegant way to do this!
  case 
    when params[:tab] == 'overview'
      @tab = 0
    when params[:tab] == 'resources'
      @tab = 1
    when params[:tab] == 'reference_data'
      @tab = 2
    when params[:tab] == 'publications'
      @tab = 3
    when params[:tab] == 'maps'
      @tab = 4
    when params[:tab] == 'markers'
      @tab = 5
    when params[:tab] == 'qtl'
      @tab = 6
    else
      @tab = ''
  end 
%>
  
  <div id="overview">
    <h2>Overview</h2>
    <div id="overview">
      <%= raw(@content.overview) %>
    </div>

    <% unless @content.special_interest.blank? %>
      <p><strong>Of Special Interest</strong></p>
      <%= raw(@content.special_interest) %>
    <% end %>

    <%= parse_model_attributes(@content, @overview_attr) %>
    
    <p><strong>Genome summary</strong></p>
    <%= raw(@content.phavu_genome_summary.genome_summary) %>

    <%= parse_model_attributes(@content.phavu_genome_summary, @genome_attr) %>

    <% unless @content.nodulators.empty? %>
      <p><strong>Nodulators</strong></p>
      <%= parse_nodulators(@content.nodulators) %>
    <% end %>

    <% unless @content.pathogens.empty? %>
      <p><strong>Major Pathogens</strong></p>
      <%= parse_major_pathogens(@content.pathogens) %>
    <% end %>

    <% unless @content.wiki_link.blank? %>
      <p><%= link_to 'Wikipedia entry', @content.wiki_link %></p>
    <% end %>
  </div>

  <div id="resources">
    <h2>Resources</h2>
    <div id="resources">
      <%= parse_resources(@content.resources.public_resources) %>
    </div>
  </div>

  <div id="reference_data">
    <h2>Reference Data</h2>
    <div id="reference_datasets">
      <%= parse_reference_datasets(@content.reference_datasets.public_reference_datasets) %>
    </div>
  </div>

  <div id="publications">
    <h2>Selected Publications</h2>
    <div id="publications">
      <%= raw(@content.phavu_selected_reference.selected_references) %>
    </div>
  </div>

  <div id="maps">
    <h2>Maps</h2>
    <div id="maps">
      <%= raw(@content.maps) %>
    </div>
  </div>

  <div id="qtl">
    <h2>Traits and QTL</h2>
    <div id="qtl">
      <%= parse_qtls(@content.qtls, @content.qtl_experiments) %>
    </div>
  </div>

  <div id="markers">
    <h2>Markers</h2>
    <div id="markers">
      <%= parse_markers(@content.markers) %>
    </div>
  </div>

  <%= #tab divs go above here 
  %>
</div>

<script type="text/javascript">
  $j(function($) {
    var $tabs = $("#tabs").tabs();
    <% if @tab != '' %>
      $tabs.tabs('select', <%= @tab %>);
    <% end %>
  });
</script>
