<div class="reference_dataset">
  <%= fields_for_form("reference_datasets", reference_datasets) do |p| %>
    <%= hidden_field_tag :legume_id, @content.legume_id %>
    <% unless has_role?(:superuser) %>
      <%= p.hidden_field :reference_dataset_type %>
      <%= p.hidden_field :description %>
      <%= p.hidden_field :source %>
      <%= p.hidden_field :url %>
      <%= p.hidden_field :is_public %>
    <% end %>
    <p>
      <%= p.label :reference_dataset_type, "Type:" %>
      <%= p.select :reference_dataset_type, MENUS['reference_datasets'], {},
        :disabled => !has_role?(:superuser) %>
    </p>
    <p>
      <%= p.label :description, "Brief Description:" %><br />
      <%= p.text_field :description, :disabled => !has_role?(:superuser) %>
    </p>
    <p>
      <%= p.label :source, "Source:" %><br />
      <%= p.text_field :source, :disabled => !has_role?(:superuser) %>
    </p>
    <p>
      <%= p.label :url, "URL (include protocol http://, ftp://, etc.):" %>
      <br />
      <%= p.text_field :url, :disabled => !has_role?(:superuser) %>
    </p>
    <p>
      <%= p.label :is_public, "Is the data public?" %>
      <%= p.select :is_public, MENUS['yes_no'], {},
        :disabled => !has_role?(:superuser)%>
    </p>
    <p>
      <%= button_to_function "Remove Reference Dataset",
        "this.up('.reference_dataset').remove()",
        :class => "remove_reference_dataset",
        :disabled => !has_role?(:superuser) %>
    </p>
  <% end %>
</div>
