<h1><%= @name %></h1>

<% permitted_to? :update, :lotja_contents do %>
    <p><%= link_to raw("Edit Contents &raquo;"), edit_lotja_content_path(@content.id) %></p>
<% end %>

<div id="tabs">

    <ul>
        <li><a href="#tabs-1">Overview</a></li>
        <li><a href="#tabs-2">Genome Summary</a></li>
        <li><a href="#tabs-3">Resources</a></li>
        <li><a href="#tabs-4">Selected References</a></li>
    </ul>

    <div id="tabs-1">
	<h2>Overview</h2>
		<div id="overview">
			<%= raw(@content.overview) %>
		</div>
		
		<% unless @content.scientific_importance.blank? %>
		    <p><strong>Scientific and Economic Importance</strong></p>
		    <%= raw(@content.scientific_importance) %>
		<% end %>
		
		<%= parse_model_attributes(@content, @overview_attr) %>
		
		<% unless @content.pathogens.empty? %>
		    <p><strong>Major Pathogens</strong></p>
			<%= parse_major_pathogens(@content.pathogens) %>
		<% end %>
		
		<% unless @content.wiki_link.blank? %>
		    <p><%= link_to 'Wikipedia entry', @content.wiki_link %></p>
		<% end %>
	</div>

    <div id="tabs-2">
		<h2>Genome summary</h2>
		<div id="genome_summary">
			<%= raw(@content.genome_summary) %>
		</div>
		
		<%= parse_model_attributes(@content, @genome_attr) %>
	</div>

    <div id="tabs-3">
		<h2>Resources</h2>
		<div id="resources">
			<%= raw(@content.resources) %>
		</div>
    </div>	

    <div id="tabs-4">
	<h2>Selected references</h2>
	    <div id="selected_references">
	        <%= raw(@content.selected_references) %>
	    </div>
    </div>
</div>

<% content_for :rightcol do %>
    <div id="photo">
        <% title = "Lotus japonicus" %>
	    <% caption = "Lotus japonicus" %>
	    <%= link_to image_tag("lotja_small.png", :alt => title, :class => "photo"), 
	        "#lotja", :class => "photo-link" %>
	</div>
	<div id="lotja" style="display: none;">
	    <%= image_tag "lotja.png", :alt => title %><br />
	    <span class="caption"><%= caption %></span>
	</div>
	<hr />
    <h2>Reference datasets</h2>
	<%= parse_data_file(@data_file) %>
<% end %>

<script type="text/javascript">
    $j(function($) {
        $("#tabs").tabs();
    });
</script>
