<h1><%= format_species_name(@content.legume.name) %></h1>

<% permitted_to? :update, :lotja_contents do %>
  <p>
    <%= link_to raw("Edit Contents &raquo;"), 
    edit_lotja_content_path(@content.id) %>
  </p>
<% end %>

<div id="tabs">

  <ul>
    <li><a href="#tabs-1">Overview</a></li>
    <li><a href="#tabs-2">Genome Summary</a></li>
    <li><a href="#tabs-3">Resources</a></li>
    <li><a href="#tabs-4">Reference Data</a></li>
    <li><a href="#tabs-5">Selected References</a></li>
    <li><a href="#tabs-6">Maps</a></li>
  </ul>

  <div id="tabs-1">
    <h2>Overview</h2>
    <div id="overview">
      <%= raw(@content.overview) %>
    </div>

    <% unless @content.special_interest.blank? %>
      <p><strong>Of Special Interest</strong></p>
      <%= raw(@content.special_interest) %>
    <% end %>

    <%= parse_model_attributes(@content, @overview_attr) %>

    <% unless @content.nodulators.empty? %>
      <p><strong>Nodulators</strong></p>
      <%= parse_nodulators(@content.nodulators) %>
    <% end %>

    <% unless @content.pathogens.empty? %>
      <p><strong>Major Pathogens</strong></p>
      <%= parse_major_pathogens(@content.pathogens) %>
    <% end %>

    <% unless @content.wiki_link.blank? %>
      <p><%= link_to 'Wikipedia entry', @content.wiki_link %></p>
    <% end %>
  </div>

  <div id="tabs-2">
    <h2>Genome Summary</h2>
    <div id="genome_summary">
      <%= raw(@content.lotja_genome_summary.genome_summary) %>
    </div>

    <%= parse_model_attributes(@content.lotja_genome_summary, @genome_attr) %>
  </div>

  <div id="tabs-3">
    <h2>Resources</h2>
    <div id="resources">
      <% unless @content.resources.blank? %>
        <%= parse_resources(@content.resources.public_resources) %>
      <% end %>
    </div>
  </div>	

  <div id="tabs-4">
    <h2>Reference Data</h2>
    <div id="reference_datasets">
      <% unless @content.reference_datasets.blank? %>
        <%= parse_reference_datasets(@content.reference_datasets.public_reference_datasets) %>
      <% end %>
    </div>
  </div>

  <div id="tabs-5">
    <h2>Selected References</h2>
    <div id="selected_references">
      <%= raw(@content.lotja_selected_reference.selected_references) %>
    </div>
  </div>

  <div id="tabs-6">
    <h2>Maps</h2>
    <div id="maps">
      <%= raw(@content.maps) %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $j(function($) {
    $("#tabs").tabs();
  });
</script>
