<% protocol = request.ssl? ? 'https://' : 'http://' %>
<ul id="dropdown" class="level1">
  <li><%= link_to "Home", protocol + URLS['root_url'] %></li>
  <li class="sep"> | </li>
  <li><%= link_to "About", protocol + "#{URLS['root_url']}pages/about" %></li>
  <li class="sep"> | </li>
  <li><%= link_to "News", protocol + "#{URLS['root_url']}news_articles" %></li>
  <li class="sep"> | </li>
  <li>
    <%= link_to "Search", protocol + "#{URLS['root_url']}pages/search" %>
    <ul class="level2">
      <li><%= link_to "Search sequenced legume genomes", protocol + "search.comparative-legumes.org/quorum/jobs/new?genome" %></li>
      <li><%= link_to "Search genes/proteins/gene families", protocol + "search.comparative-legumes.org/quorum/jobs/new?gene" %></li>
      <li><%= link_to "Advanced sequence search", protocol + "search.comparative-legumes.org/quorum/jobs/new" %></li>
      <li><%= link_to "CViT search by sequence", protocol + "cvit.comparative-legumes.org" %></li>
      <li><%= link_to "Leggle Gene Family Pages", protocol + "leggle.comparative-legumes.org" %></li>
    </ul>
  </li>
  <li class="sep"> | </li>
  <li>
    <%= link_to "Maps", "#{URLS['root_url']}pages/maps" %>
    <ul class="level2">
      <li><%= link_to "Comparative map views", protocol + "cmap.comparative-legumes.org/index.html" %></li>
    </ul>
  </li>
  <li class="sep"> | </li>
  <li>
    <%= link_to "Species", protocol + "#{URLS['root_url']}pages/species" %>
    <ul class="level2">
      <li><%= link_to "Arachis hypogaea", protocol + "arahy.comparative-legumes.org" %></li>
      <li><%= link_to "Cajanus cajan", protocol + "cajca.comparative-legumes.org" %></li>
      <li><%= link_to "Chamaecrista fasciculata", protocol + "chafs.comparative-legumes.org" %></li>
      <li><%= link_to "Cicer arietinum", protocol + "cicar.comparative-legumes.org" %></li>
      <li><%= link_to "Glycine max", protocol + "glyma.comparative-legumes.org" %></li>
      <li><%= link_to "Lens culinaris", protocol + "lencu.comparative-legumes.org" %></li>
      <li><%= link_to "Lotus japonicus", protocol + "lotja.comparative-legumes.org" %></li>
      <li><%= link_to "Lupinus albus", protocol + "lupal.comparative-legumes.org" %></li>
      <li><%= link_to "Lupinus angustifolious", protocol + "lupan.comparative-legumes.org" %></li>
      <li><%= link_to "Medicago sativa", protocol + "medsa.comparative-legumes.org" %></li>
      <li><%= link_to "Medicago truncatula", protocol + "medtr.comparative-legumes.org" %></li>
      <li><%= link_to "Phaseolus coccineus", protocol + "phacn.comparative-legumes.org" %></li>
      <li><%= link_to "Phaseolus vulgaris", protocol + "phavu.comparative-legumes.org" %></li>
      <li><%= link_to "Pisum sativum", protocol + "pea.comparative-legumes.org" %></li>
      <li><%= link_to "Trifolium pratense", protocol + "tripr.comparative-legumes.org" %></li>
      <li><%= link_to "Vicia faba", protocol + "vicfa.comparative-legumes.org" %></li>
      <li><%= link_to "Vigna radiata", protocol + "vigra.comparative-legumes.org" %></li>
      <li><%= link_to "Vigna unguiculata", protocol + "vigun.comparative-legumes.org" %></li>
    </ul>
  </li>
  <li class="sep"> | </li>
  <li><%= link_to "Collaborators", protocol + "#{URLS['root_url']}pages/collaborators" %></li>
  <li class="sep"> | </li>
  <li><%= link_to "Resources", protocol + "#{URLS['root_url']}pages/resources" %></li>
</ul>
